.card
 {
 border: 1px solid black;
 height: 300px;
 margin-top: 180px;
 width: 180px;
 float: left;
 
 }
 .right-container{
 
  margin-left: 100px;
  padding-left: 190px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }

 .card-body {
  margin-top: 16px;
  width: 100px;
  padding-right: 20px;
  margin-right: 20px;
  padding-left: 20px;
 }
 .card-body > img 
  {
  position:relative;
  height: 80px;
  width: 150px;
  animation: rotation 2s infinite linear;
  }
 @keyframes rotation {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(359deg);
  }
 }

 .boarder{
   border-radius: 25px;
   margin-top: 1pc;
   padding: 10px;
  

 }
 